﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load staticfiles %}
    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>

<body>   
    <div class="container body-content card" style="width:60%; margin:0 auto; border:solid black">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">
                {% block content %}{% endblock %}
            </p>
        </div>
        <hr/>
        <footer>
            <p>&copy; {{ year }} - Cliente Rest Django</p>
        </footer>
    </div>

{% block scripts %}{% endblock %}

</body>
</html>
